.Projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .Project{
        img{
            width: 100%;
        }
        margin: 1em;
    }
}

@media(max-width: 700px){
    .Projects{
        flex-direction: column;
    }
}