.Projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 1em;
    .Project{
        border: 2px black solid;
        box-shadow: -20px 20px 0px 5px #333;
        img{
            width: 500px;
        }
        margin: 1em;
        button{
            margin: 1em;
            .link{
                color: whitesmoke;
                text-decoration: none;
            }
        }
    }
}

@media(max-width: 896px){
    .Projects{
        flex-direction: column;
        
        .title{
            width: 100%;
        }
        .Project{
            img{
                width: 400px;
            }
            margin-top: 1em;
        }
    }
}