.Cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .Card{
        padding: 1em;
    }
    img{
        width: 150px;
        box-shadow: -20px 20px 0px 5px #333;
    }
}



@media(max-width: 700px){
    .Cards{
        flex-direction: column;
    }
}