.About{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1em;
    .about-image{
        width: 50%;
    }
    .about-text{
        background: #333;
        color: whitesmoke;
        padding: 5em;
        margin: 1em;
    }
}


@media(max-width: 700px){
    .About{
        flex-direction: column;
        
    }
}