.About{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1em;
    .about-image{
        width: 50%;
    }
    .about-text{
        background: black;
        color: whitesmoke;
        padding: 5em;
        margin: 0;
    }
}


@media(max-width: 896px){
    .About{
        flex-direction: column;
        margin: 0;
        .about-image{
            width: 100%;
        }
    }
}