.About{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .about-image{
        width: 50%;
    }
    .about-text{
        background: #333;
        color: whitesmoke;
        padding: 5em;
        margin: 1em;
        border-radius: 20px;
    }
}