.Home{
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    .hero-img{
        padding: 3em;
        width: 400px;
        img{
            box-shadow: -20px 20px 0px 5px #333;
        }
    }
    h3{
        font-size: 2em;
    }
    h5{
        color: teal;
        font-size: 1em;
    }
    
}



@media(max-width: 700px){
    .Home{
        flex-direction: column;
        .hero-img{
            width: 100%;
        }
    }
}