.Socialmedia{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .SocialmediaIcon{
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        color: white;
        width: 150px;
        height: 100px;
        margin: 1em;
    }
}