.Footer{
    width: 100%;
    background: black;
    color: whitesmoke;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .f-media{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 40%;
        list-style: none;
        .link{
            color: whitesmoke;
            text-decoration: none;
            font-size: 1.5em;
        }
    }
}

@media(max-width: 896px){
    .Footer{
        flex-direction: column;
        width: 100%;
        .f-media{
            .link{
                font-size: 0.8em;
            }
        }
    }
}