//IMPORTS 
@import "./components/Home/Home.scss";
@import "./components/Nav/Nav.scss";
@import "./components/Cards/Cards.scss";
@import "./components/Projects/Projects.scss";
@import "./components/Projects/Projects.scss";
@import "./components/Footer/Footer.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  width: 100%;
}

.Test{
  background: rebeccapurple;
  color: whitesmoke;
  margin: 1em;
  padding: 1em;
  border-radius: 20px;
}