.Home {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.Home .hero-img {
  padding: 3em;
  width: 400px;
}

.Home .hero-img img {
  -webkit-box-shadow: -20px 20px 0px 5px #333;
          box-shadow: -20px 20px 0px 5px #333;
}

.Home h3 {
  font-size: 2em;
}

.Home h5 {
  color: teal;
  font-size: 1em;
}

@media (max-width: 700px) {
  .Home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Home .hero-img {
    width: 100%;
  }
}

.Nav {
  background: #333;
  color: white;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nav .hamburger {
  display: none;
}

.Nav .hamburger .line {
  width: 20px;
  height: 3px;
  margin: 3px;
  background: whitesmoke;
}

.Nav .navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  list-style: none;
}

.Nav .navlinks a {
  color: whitesmoke;
  text-decoration: none;
}

@media (max-width: 700px) {
  .Nav .hamburger {
    display: block;
  }
  .Nav .navlinks {
    display: none;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Nav .navlinks li {
    padding: 1em;
  }
  .Nav .navActive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.Cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Cards .Card {
  padding: 1em;
}

.Cards img {
  width: 150px;
  -webkit-box-shadow: -20px 20px 0px 5px #333;
          box-shadow: -20px 20px 0px 5px #333;
}

@media (max-width: 700px) {
  .Cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.Projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Projects .Project {
  margin: 1em;
}

.Projects .Project img {
  width: 100%;
}

@media (max-width: 700px) {
  .Projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.Projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Projects .Project {
  margin: 1em;
}

.Projects .Project img {
  width: 100%;
}

@media (max-width: 700px) {
  .Projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.About {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.About .about-image {
  width: 50%;
}

.About .about-text {
  background: #333;
  color: whitesmoke;
  padding: 5em;
  margin: 1em;
  border-radius: 20px;
}

.Footer {
  background: #333;
  color: whitesmoke;
  padding: 1em;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
  width: 100%;
}

.Test {
  background: rebeccapurple;
  color: whitesmoke;
  margin: 1em;
  padding: 1em;
  border-radius: 20px;
}

.Test2 {
  padding: 3em;
  background: teal;
  color: whitesmoke;
  margin: 1em;
  border-radius: 2em;
}
/*# sourceMappingURL=index.css.map */