//IMPORTS 
@import "./components/Home/Home.scss";
@import "./components/Nav/Nav.scss";
@import "./components/Cards/Cards.scss";
@import "./components/Projects/Projects.scss";
@import "./components/Projects/Projects.scss";
@import "./components/About/About.scss";
@import "./components/Footer/Footer.scss";
@import "./components/Gallery/Gallery.scss";
@import "./components/Contacts/Contact.scss";
@import "./components/Socialmedia/Socialmedia.scss";

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
}

img{
  width: 100%;
}


button{
  padding: 1.5em 3em;
  background: black;
  color: whitesmoke;
  //box-shadow: -8px 8px 0px 1px #333;
  border: none;
}